nav ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color:#ff66cc;
}
nav a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover{
  color: black;
}
nav li{
   float: left
}
p{
  padding: 0px;
}